@{
    ViewData["Title"] = "Pogo Page";
}


<div class="row text-center justify-content-center mb-5" data-aos="fade" data-aos-delay="200">

    </div>
      <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded" onclick="myFunction('investor')">
              <div>
                <h2><i class="fa fa-regular fa-angle-down"></i>
                    For Investor
                </h2>
                <p style="display: none;" class="service" id="investor">Masih dibutuhkan investor pada startup ini. 
                    Peluang usaha ini memiliki potensi yang besar untuk dapat terus berjalan dan berkembang. 
                    Hubungi kami jika anda ingin ikut berinvestasi pada kami.</p>
              </div>

            </div>
          </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded" onclick="myFunction('emp')">
              <div>
                <h2><i class="fa fa-regular fa-angle-down"></i>
                    For Employee Candidates
                </h2>
                <p style="display: none;" class="service" id="emp">Karyawan yang terpilih akan kami hubungin lebih lanjut pada di 
                    minggu ini untuk diberikan pelatihan dan diseleksi sesuai dengan kemampuannya.</p>
              </div>

            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" onclick="myFunction('partner')">
            <div class="process bg-white rounded">
              <div>
                <h2><i class="fa fa-regular fa-angle-down"></i>
                    For Partner
                </h2>
                <p style="display: none;" class="service" id="partner">Kami berharap dapat menambah hubungan kerja sama dengan partner-partner lainnya.</p>
              </div>

            </div>
          </div>
         
          
        </div>
      </div>

<script>
function myFunction(i) {
  var x = document.getElementById(i);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
