@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="section1 text-center">
    <img class="logoimg rounded-circle" src="~/img/logo.png">
    <h1 class="ctitle" style="margin-bottom: 20px;">THealty</h1>
    <p>THealty adalah perusahaan yang didirikan dengan tujuan untuk melayani dan memberikan produk kesehatan bagi masyarakat.
        Salah satu startup yang dibangun oleh perusahaan ini adalah Pijat Sehat. Dengan prosedur dan manajemen serta pelatihan yang berkualitas, 
        kami yakin dapat memberikan layanan yang profesional dan memuaskan bagi masyarakat.
    </p>
</div>

<div class="row text-center justify-content-center mb-5" data-aos="fade" data-aos-delay="200">

    </div>
      <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <h3>Profesional dalam pekerjaan dan pelayanan</h3>
              </div>

            </div>
          </div>
        <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <h3>Mengedepankan kenyamanan dan kualitas</h3>
              </div>

            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
            <div class="process bg-white rounded" style="height: 100%;">
              <div>
                <h3>Didukung dengan teknologi yang terkini</h3>
              </div>

            </div>
          </div>
           <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
            <div class="process bg-white rounded" style="height: 100%;">
              <div>
                <h3>Hasil yang sehat dan memuaskan</h3>
              </div>

            </div>
          </div>
        </div>
      </div>