@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {  background-image: url("img/homepage.jpg"); 
            background-attachment:fixed;
            background-position-x: -350px;
    }
</style>

<div class="d-flex flex-column text-center vertical-item" data-aos="fade-up" data-aos-delay="200">
  <div class="p-2 processhome bg-light rounded">
      <h2>
        Harga Murah
      </h2>
      </div>
  <div class="p-2 processhome bg-light rounded">
      <h2>
         Rileks dan Menyehatkan
      </h2>
      </div>
  <div class="p-2 processhome bg-light rounded">
      <h2>
         Dilakukan Secara Professional
      </h2>
      </div>
</div>


