@{
    ViewData["Title"] = "Pogo Page";
}
<link rel="stylesheet" href="style.css">
<div class="text-center">
    <h1 class="display-4 ctitle">Pijat Sehat</h1>
</div>

<div class="site-section" id="process-section" data-aos="fade-up" data-aos-delay="200">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img class="cimg" src="~/img/pijatprofil.jpg">
          </div>

          <div class="col-lg-5 mr-auto mb-5">

            <div class="mb-5">
              <h2 class="section-title">Mengapa harus Pijat Sehat?</h2>
              <p>
                Setelah letih dengan pekerjaanmu, aktivitas diluar seharian ataupun kebanyakan berbaring dirumah dapat membuat badanmu merasa pegal.
                Oleh karena itu, Pijat Sehat dapat membantumu untuk keluar dari masalah itu. Tinggal pesan dan kami akan datang untuk membuatmu rileks dan nyaman.
              </p>
              <p> <strong><b>"Pijat adalah kemewahan yang tidak boleh kamu lewatkan dan sangat penting untuk relaksasi."</b></strong> </p>
              <p style="margin-top: 0; margin-right:20px; text-align:right">- Andrew Tan</p>

            </div>

            
          </div>

          
        </div>
      </div>

</div>
