@{
    ViewData["Title"] = "Pogo Page";
}

<div class="text-center">
    <h1 class="display-4 ctitle">Layanan Pijat</h1>
</div>

<div class="row text-center justify-content-center mb-5" data-aos="fade" data-aos-delay="200">

    </div>
      <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <h3>Pijat Tradisional</h3>
                <h4>Rp.50.000/jam</h4>
                <p class="service">Memberikan pijatan dengan teknik tradisional dan minyak herbal yang membantu untuk merilekskan dan melancarkan peredaran darah. 
                    Membuat kulit lebih lembut dan sehat. Meredakan rasa pegal-pegal dan otot yang kencang.</p>
              </div>

            </div>
          </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 spesial">
            <div class="process bg-white rounded">
              <div>
                <h3 class="spesial">Pijat Premium</h3>
                <h4>Rp.100.000/jam</h4>
                <p class="service">Mendatangkan ahli yang memiliki banyak pengalaman dan kerja yang prosfesional dengan dukungan ilmu medis yang expert. 
                    Mennggunakan herbal alami dan cocok untuk meredakan rasa pegal, melancarkan peredaran darah, dan membuat rilek badan yang letih.</p>
              </div>

            </div>
          </div>
           <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded" style="height: 100%;">
              <div>
                <h3>Pijat Lulur</h3>
                <h4>Rp.75.000/jam</h4>
                <p class="service">Pijatan disertai dengan lulur untuk membantu mengangkat kulit yang mati dengan sensasi dingin. 
                    Membuat otot rilkes, mengencangkan kulit, dan membantu melembutkan dan mencerahkan kulit</p>
              </div>

            </div>
          </div>
        </div>
      </div>
